{% extends "base.html" %}

{% block page_content %}

        <div class="mw6 center pa3 sans-serif">

            <h1 class="mb4">Move: {{move.name}}</h1>
   
            <p class="mb2">Type(s): {{ move.m_type }}</p>

            <p class="mb2">Category: {{ move.category }}</p>

            <p class="mb2">Power: {{ move.power }}</p>

            <p class="mb2">Accuracy: {{ move.accuracy }}</p>

            <p class="mb2">PP: {{ move.pp }}</p>

            <header class="b mb2">Pokemon With Move:</header>

            <table border = "1", cellpadding = "5", cellspacing = "5">
                <td>Image</td>
                <td>Name</td>
    
                {% for pokemon in pokemons %}
                <tr>
                    <td><img src="{{ pokemon.picture }}"
                         width=20%
                         height=auto /></td>
                    <td><a href="{% url 'details' pokemon.unique.pokedex_no%}">{{ pokemon.form }}</a></td>
                </tr>
    
                {% endfor %}
            </table>

        </div>

{% endblock %}